/*-- scss:defaults --*/
/* Font families */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

$barlow: 'Barlow', sans-serif;
$poppins: 'Poppins', sans-serif;
$lora: 'Lora', serif;

/* SCSS HEX */
$black: #000;

$fw: #30122d;
$fw2: #870734;
$fw3: #cb2d3e;
$fw4: #ef473a;
$fw5: #ffd6bf;

/* Muted color palette */
$silver: #bab9b9ff;
$bistre: #3f3121ff;
$linen: #eee7dfff;
$seasalt: #f8fbfcff;
$charcoal: #204256ff;
$baby-powder: #fcfcf7ff;

/* Sea color palette */
$alice-blue: #d5dde8ff;
$light-blue: #a9cfdcff;
$blue-green: #5d9bb2ff;
$lapis-lazuli: #305c77ff;
$onyx: #393d3cff;
$hookers-green: #5a7473ff;
$white: #ffffff;
$accent-lapis-lazuli: #FF6E6E;

$dark-blue: #021627;
$light-red: #D6311F;
$smoke-gray: #A7A7A7;

$body-bg: $white;
$body-color: $dark-blue;
$font-family-sans-serif: $poppins;
$presentation-heading-font: $barlow;
$accent-color: $light-red;

.slide-menu-button {
  display: none;
}

.footer {
  font-size: 0.9rem;
  color: darken($smoke-gray, 50%) !important;
}

.reveal .progress {
  color: $light-red !important;
  height: 7px;
}

.reveal .slide-number {
  color: $smoke-gray !important;
}

.reveal .slide-logo {
  max-height: 4.2rem !important;
}

.center {
  text-align: center;
}

.reveal blockquote {
  color: $accent-color !important;
}

.in-serif {
  font-family: $lora;
}

.what-if {
  text-align: center;
}

#lets-be-honest-here {
  text-align: center;
}

#seeing-the-smoke-before-the-fire {
  max-width: 80%;
}

#thank-you {
  top: 0;
}

.accent-color {
  color: $accent-color;
}

.purple-color {
  color: #5A31C1;
}

.golden-color {
  color: #FFB200;
}

.light-mode {
  background-color: $white;
}

#what-is-a-predicate .column{
  text-align: center;
}

.what-is-a-obj {
  color: $accent-color;
  font-style: italic;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.3);
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  max-width: 95%;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  overflow: hidden;
}

.img-avatar img {
  width: 100%;
  margin: 0 !important;
  max-width: fit-content !important;
  max-height: fit-content !important;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 1.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://images.unsplash.com/photo-1509114397022-ed747cca3f65");
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}
/*-- scss:rules --*/

// Colors
// $body-bg 	#fff
// $body-color 	#222
// $text-muted 	lighten($body-color, 50%)
// $link-color 	#2a76dd
// $link-color-hover 	lighten($link-color, 15%)
// $selection-bg 	lighten($link-color, 25%)
// $selection-color 	$body-bg
// $light-bg-text-color 	#222
// $light-bg-link-color 	#2a76dd
// $light-bg-code-color 	#4758ab
// $dark-bg-text-color 	#fff
// $dark-bg-link-color 	#42affa
// $dark-bg-code-color 	#ffa07a
// Fonts
// $font-family-sans-serif 	“Source Sans Pro”, Helvetica, sans-serif
// $font-family-monospace 	monospace
// $presentation-font-size-root 	40px
// $presentation-font-smaller 	0.7
// $presentation-line-height 	1.3
// Headings
// $presentation-h1-font-size 	2.5em
// $presentation-h2-font-size 	1.6em
// $presentation-h3-font-size 	1.3em
// $presentation-h4-font-size 	1em
// $presentation-heading-font 	$font-family-sans-serif
// $presentation-heading-color 	$body-color
// $presentation-heading-line-height 	1.2
// $presentation-heading-letter-spacing 	normal
// $presentation-heading-text-transform 	none
// $presentation-heading-text-shadow 	none
// $presentation-heading-font-weight 	600
// $presentation-h1-text-shadow 	none
// Code Blocks
// Variable 	Default
// $code-block-bg 	$body-bg
// $code-block-border-color 	lighten($body-color, 60%)
// $code-block-font-size 	0.55em
// Inline Code
// Variable 	Default
// $code-color 	var(–quarto-hl-fu-color)
// $code-bg 	transparent
// Tabsets
// $tabset-border-color 	$code-block-border-color
// Layout
// $border-color 	lighten($body-color, 30%)
// $border-width 	1px
// $border-radius 	3px
// $presentation-block-margin 	12px
// $presentation-slide-text-align 	left
// $presentation-title-slide-text-align 	center

